@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.svg#svgFontName") format("svg");
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: lighter;
    src: url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.svg#svgFontName") format("svg");
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.svg#svgFontName") format("svg");
}